.box {
    height: 100px;
    width: 100px;
    background: burlywood;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 2px solid black;
}

.content {
    display: flex;
    flex-wrap: wrap;
}